[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
msdsalgs = {git = "https://github.com/vphpersson/msdsalgs"}
ntlm = {git = "https://github.com/vphpersson/ntlm"}
spnego = {git = "https://github.com/vphpersson/spnego"}
asn1 = {git = "https://github.com/vphpersson/asn1"}

[requires]
python_version = "3.8"
