git+https://github.com/vphpersson/ntlm.git#egg=ntlm
git+https://github.com/vphpersson/spnego.git#egg=spnego
git+https://github.com/vphpersson/msdsalgs.git#egg=msdsalgs
git+https://github.com/vphpersson/asn1.git#egg=asn1
